### VactionPY

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

#### Store Part I results into DataFrame
Load the csv exported in Part I to a DataFrame

In [2]:
file = "../WeatherPy/output_data/cities.csv"

df = pd.read_csv(file)
df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Pevek,54,RU,1584217290,76,69.70,170.31,-10.89,9.19
1,Hermanus,53,ZA,1584217291,88,-34.42,19.23,64.99,13.40
2,Zhigansk,100,RU,1584217291,95,66.77,123.37,-5.85,21.77
3,Lorengau,100,PG,1584217291,78,-2.02,147.27,83.79,12.21
4,Albany,75,US,1584216776,42,42.60,-73.97,46.00,23.04

In [3]:
df['Coords'] = tuple(zip(df['Lat'], df['Lng']))
df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Coords
0,Pevek,54,RU,1584217290,76,69.70,170.31,-10.89,9.19,"(69.7, 170.31)"
1,Hermanus,53,ZA,1584217291,88,-34.42,19.23,64.99,13.40,"(-34.42, 19.23)"
2,Zhigansk,100,RU,1584217291,95,66.77,123.37,-5.85,21.77,"(66.77, 123.37)"
3,Lorengau,100,PG,1584217291,78,-2.02,147.27,83.79,12.21,"(-2.02, 147.27)"
4,Albany,75,US,1584216776,42,42.60,-73.97,46.00,23.04,"(42.6, -73.97)"

#### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
gmaps.configure(api_key=g_key)

In [5]:
coordinates = df['Coords']
coordinates

0       (69.7, 170.31)
1      (-34.42, 19.23)
2      (66.77, 123.37)
3      (-2.02, 147.27)
4       (42.6, -73.97)
            ...
530    (49.21, -84.77)
531     (-4.76, 11.86)
532      (50.35, 90.5)
533     (-18.93, 48.2)
534    (-41.0, 145.72)
Name: Coords, Length: 535, dtype: object

In [10]:
# Customize the size of the figure
figure_layout = {
    'width': '700x',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

In [11]:
# Assign the marker layer to a variable
heatmap_layer = gmaps.heatmap_layer(
    df[["Lat","Lng"]], weights = df["Humidity"])
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

In [33]:
df_filtered = df[(df["Max Temp"] <80) & (df["Max Temp"] >70) & (df["Wind Speed"] <10) & (df["Cloudiness"] ==0)]

df_filtered

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Coords
65,Castro,0,BR,1584217303,59,-24.79,-50.01,73.17,2.06,"(-24.79, -50.01)"
68,Sangmélima,0,CM,1584217303,84,2.93,11.98,73.17,3.18,"(2.93, 11.98)"
91,Richards Bay,0,ZA,1584217307,87,-28.78,32.04,77.31,7.52,"(-28.78, 32.04)"
191,Arlit,0,NE,1584217323,12,18.74,7.39,74.43,7.83,"(18.74, 7.39)"
207,Taoudenni,0,ML,1584217325,10,22.68,-3.98,74.25,3.98,"(22.68, -3.98)"
210,Pala,0,TD,1584217326,11,9.36,14.90,75.51,4.94,"(9.36, 14.9)"
219,Yagoua,0,CM,1584217327,12,10.34,15.23,73.53,8.84,"(10.34, 15.23)"
376,Bossangoa,0,CF,1584217356,15,6.49,17.46,72.09,1.12,"(6.49, 17.46)"
412,Aborlan,0,PH,1584217363,91,9.44,118.55,70.11,3.13,"(9.44, 118.55)"
440,Maxixe,0,MZ,1584217319,81,-23.86,35.35,78.21,8.28,"(-23.86, 35.35)"
444,Morro da Fumaça,0,BR,1584217368,70,-28.65,-49.21,79.11,4.00,"(-28.65, -49.21)"
446,Bambanglipuro,0,ID,1584217368,92,-7.95,110.28,75.15,4.07,"(-7.95, 110.28)"
463,Neuquén,0,AR,1584217374,10,-38.95,-68.06,75.20,8.05,"(-38.95, -68.06)"
524,Adrar,0,MR,1584217383,8,20.50,-10.07,70.47,3.89,"(20.5, -10.07)"