### VactionPY

In [ ]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

#### Store Part I results into DataFrame
Load the csv exported in Part I to a DataFrame

In [8]:
file = "../WeatherPy/output_data/cities.csv"

df = pd.read_csv(file)
df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Pevek,54,RU,1584217290,76,69.70,170.31,-10.89,9.19
1,Hermanus,53,ZA,1584217291,88,-34.42,19.23,64.99,13.40
2,Zhigansk,100,RU,1584217291,95,66.77,123.37,-5.85,21.77
3,Lorengau,100,PG,1584217291,78,-2.02,147.27,83.79,12.21
4,Albany,75,US,1584216776,42,42.60,-73.97,46.00,23.04